.player {
	/* temp fix dragular: https://github.com/bevacqua/dragula/issues/468*/
	touch-action: none;

	position: relative;
	background: grey;
	color: white;
	padding: 4px;
	border-radius: 20px;
	vertical-align: middle;
	margin: 2px;
	box-shadow: 2px 3px 8px 4px rgba(0, 0, 0, 0.17);
	min-width: 20%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.player:hover {
	opacity: 0.5;
	cursor: pointer;
}

.player .number {
	display: inline-block;
	color: #c1c1c1;
	width: 25px;
	text-align: center;
}

.player .text {
	display: inline-block;
	vertical-align: bottom;
	padding-right: 4px;
}

.goals {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 2px;
	width: 24px;
	font-size: 10px;
	text-align: center;
	/* background: linear-gradient(45deg, #4caf50, #08800d); */
	background: #525252;
	border-left: 1px solid #a5a1a1;
	box-shadow: -9px 0 15px 2px #585858;
}