.player {
	position: relative;
	background: none;
	background-image: url(../../../../assets/img/tshirt.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	min-width: 50px;
	text-align: center;
	padding-top: 10%;
}

.player:hover {
	opacity: 0.5;
	cursor: pointer;
}

.number {}

.text {
	vertical-align: bottom;
}