.player {
	/* temp fix dragular: https://github.com/bevacqua/dragula/issues/468*/
	touch-action: none;

	position: relative;
	background: grey;
	color: white;
	padding: 5px;
	height: 40px;
	padding: 10px;
	border-radius: 20px;
	vertical-align: middle;
	margin: 2px;
	box-shadow: 2px 3px 8px 4px rgba(0, 0, 0, 0.17)
}

.player:hover {
	opacity: 0.5;
	cursor: pointer;
}

.player .number {
	display: inline-block;
	margin-right: 20px;
	color: #c1c1c1;
	width: 25px;
	text-align: center;
}

.player .number:after {
	content: "";
	position: absolute;
	opacity: 0.5;
	top: 4px;
	left: 4px;
	z-index: 1;
	display: block;
	border-radius: 15px;
	width: 40px;
	height: 30px;
	background: white;
}

.player .text {
	display: inline-block;
	vertical-align: bottom;
}