.main {
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /* border: 1px double white; */
  /* background: black; */
  /* border-radius: 10px; */
  align-items: baseline;
  font-size: 18px;
  color: #dcdcdc;
}

.main button {
  color: white;
  background: none;
  width: 45px;
  padding: 5px;
  border-radius: 23px;
}