.line {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 1px solid white;
	justify-content: space-evenly;
	list-style: none;
	margin: 2px 0;
	flex: 1 1 auto;
	min-width: 10vh;
	min-height: 50px;
	background: #ffc107;
	overflow: hidden;
}

.line .players {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	overflow: hidden;
	overflow-x: auto;
}

.line .actions {
	display: block;
}

.line .actions ul {
	display: none;
}