.line {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	border: 1px outset white;
	margin: 2px 0;
	flex: 1 1 auto;
	min-width: 10vh;
	min-height: 50px;
	background: #ffc107;
}

.line:first-child {
	background: orange;
}

.line:first-child:before {
	content: "Goalie";
	position: absolute;
	top: 17px;
	right: -10px;

	transform: rotate(90deg);
}

.line .players {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	flex-flow: wrap;
	overflow: auto;
	align-items: center;
	justify-content: center;
}

.line .actions {
	display: block;
}

.line .actions ul {
	display: none;
}